################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ParseWeb/__pycache__
/ParseWeb/hindi_data_file.json
*.json
